#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

form {
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
}

input,
select,
textarea {
  margin: auto;
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

button {
  margin: 1em;
  padding: 0.5em 1em;
  border: 1px solid #999;
  border-radius: 1em;
  background: #eee;
  cursor: pointer;
}

.dispatcher {
  background-color: rgb(239, 239, 239);
  width: 300px;
  margin: 1em auto;
}

.dispatcher p {
  padding: 1em;
  margin-bottom: 0;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
